@import "mixins";
@import "variables";

.sheet-content-container {
  @include mainPageContainer();
  .heading {
    @include flexStartCol(4px, center);
  }

  mat-divider {
    width: 100%;
    background-color: $grey-1;
  }

  .content-form {
    width: 100%;
    color: $black-75;
    @include flexStartCol(16px);

    form {
      @include flexStartCol(8px);
      text-align: center;

      .actions {
        @include flexCenter(row, 16px);
      }
    }

    .footer-text {
      width: 100%;
      text-align: center;
      padding: 4px 0 40px;

      .or-text {
        font-size: $font-size-s;
        color: $light-text;
        display: block;
        margin-bottom: 12px;
      }

      .login-segway {
        font-size: $font-size-m;
        color: $grey-text;
      }
    }
  }
}

.terms-segway {
  font-size: $font-size-s;
  font-weight: 300;
  text-align: center;
}

