@import "mixins";
@import "variables";


.main-container {
  @include mainPageContainer;

  .header-content-container {
    @include flexStartCol(4px);
  }

  .salutation-strip {
    width: 100%;
    height: $heading-height;
    @include flexSpaceBetween(0px);

  }

  .content-container {
    @include flexCenter(column, 4px);

    .content {
      width: 100%;
      height: auto;

      .onboarding-content {
        @include flexStartCol(8px);
      }
    }
  }

}